.Footer{
    display: flex;
    flex-direction: row;
    flex-grow: 0.4;
    width:100%;
    background-image:url('../../assets/images/CUFooter.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-top: auto;
    }